.App {
  text-align: center;
 /* background:url("/src/book_back.jpg");*/
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden
}
.container
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.book
{
  z-index: 1;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 0.4);
  width:30%;
 /* height: auto; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.book h1{
  
  justify-content: center;
}

.book-img
{
  height: 60%;
  width: 60%;
  border-radius: 12%;
  align-self: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.head-con
{
background-color: #133e92;


}
ul{
  display: flex;
    flex-direction: column;
    align-items: flex-end;

}
